<br><br>
<div align="center">
  <mat-form-field>
    <mat-select placeholder="Tipe Lokasi" [(ngModel)]="isi_tipe">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let tipe of tipe_lokasi" [value]="tipe.value">
        {{tipe.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-form-field>
    <input matInput placeholder="Kode Lokasi" [(ngModel)]="isi_kode">
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-form-field>
    <input matInput placeholder="Nama Lokasi" [(ngModel)]="isi_nama">
  </mat-form-field>
</div>

<div [ngSwitch]="tombol" align="right" style="margin-right: 30px;">
  <div *ngSwitchCase="'add'">
    <button mat-raised-button color="primary" (click)="tambah()">Tambah</button>
  </div>
  <div *ngSwitchCase="'put'">
    <button mat-raised-button color="primary" (click)="ubah()">Ubah</button>&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="kembali()">Batal</button>
  </div>
</div>
<br>

<mat-toolbar color="warn">
  <mat-toolbar-row>
    <span>List Data</span>
  </mat-toolbar-row>
</mat-toolbar>
<br>


<div style="margin-right: 30px; margin-left: 30px; margin-bottom: 30px">
  <mat-form-field class="example-form">
    <input matInput placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="data" class="mat-elevation-z8" >

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id Lokasi </th>
      <td mat-cell *matCellDef="let element"> {{element.location_id}} </td>
    </ng-container>

    <ng-container matColumnDef="tipe">
      <th mat-header-cell *matHeaderCellDef> Tipe Lokasi </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="kode">
      <th mat-header-cell *matHeaderCellDef> Kode Lokasi </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <ng-container matColumnDef="nama">
      <th mat-header-cell *matHeaderCellDef> Nama Lokasi </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="opsi">
      <th mat-header-cell *matHeaderCellDef> Opsi </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="edit(element.location_id, data)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="primary" (click)="hapus(element.location_id)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
