<div>
  <mat-tab-group backgroundColor="primary">

    <mat-tab label="Master General">
      <mat-tab-group backgroundColor="primary">
        <mat-tab label="Master Kategori"> <app-mg-kategori></app-mg-kategori> </mat-tab>
        <mat-tab label="Master Unit"> <app-mg-unit></app-mg-unit> </mat-tab>
        <mat-tab label="Master Merk"> <app-mg-merk></app-mg-merk> </mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab label="Master Barang"> <app-mm-barang></app-mm-barang> </mat-tab>
    <mat-tab label="Master Pelanggan"> <app-mm-pelanggan></app-mm-pelanggan> </mat-tab>
    <mat-tab label="Master Lokasi"> <app-mm-lokasi></app-mm-lokasi> </mat-tab>
    <mat-tab label="Master Vendor"> <app-mm-vendor></app-mm-vendor> </mat-tab>
    <mat-tab label="Master Pengguna"> <app-mm-pengguna></app-mm-pengguna> </mat-tab>
    <mat-tab label="Percobaan"> <app-tes></app-tes> </mat-tab>
  </mat-tab-group>
</div>
