<div>
  <mat-tab-group backgroundColor="primary">

    <mat-tab label="Penawaran Rental">
      <mat-tab-group backgroundColor="primary">
        <mat-tab label="Editor"> <app-ro-editor></app-ro-editor> </mat-tab>
        <mat-tab label="List Data"> <app-ro-list></app-ro-list> </mat-tab>
      </mat-tab-group>
    </mat-tab>

    <mat-tab label="Rental Management">
      <mat-tab-group backgroundColor="primary">
        <mat-tab label="Editor"> <app-r-editor></app-r-editor> </mat-tab>
        <mat-tab label="List Data"> <app-r-list></app-r-list> </mat-tab>
        <mat-tab label="Rental dari Penawaran"> <app-rent-from-order></app-rent-from-order> </mat-tab>
      </mat-tab-group>
    </mat-tab>
  </mat-tab-group>
</div>
